<p>Hi <%= @user.first_name %>,</p>

<p>Congratulations!</p>

<p>This email entitles you to both a free coffee, tea or lemonade when purchasing a crêpe at Sama Sama or a free glass of port wine with the purchase of a two-glass wine tasting at Lisbon Winery.</p>

<p>Thanks for joining Eatwell!</p>

<p>Don't hesitate to drop us a line by replying directly to this email.</p>

<p>Yours in food,</p>
<p>Eatwell Team</p>
