.wrapper-dashboard {
  position: relative;
  width: 100%;
}

.nav-dashboard {
  background-color: $green;
  height: 155px;
  width: 100%;
}

.logo-dashboard {
  margin: 15px 10px;
}

.edit-profile-dashboard {
  position: absolute;
  top: 25px;
  right: 20px;
}

.edit-profile-dashboard a {
  text-decoration: none;
  color: $white;
  font-weight: 300;
  opacity: 0.5;
}

.center-avatar-dashboard {
  display: flex;
  justify-content: center;
}
.container-dashboard {
  position: absolute;
  top: 90px;
  flex: item;
}

.user-avatar-dashboard {
  border-radius: 50%;
}

.text-greeting-dashboard {
  margin-top: 80px;
  color: $green;
  font-size: 18px;
  font-weight: 400;
}

.text-impact-gray {
  color: $light-gray;
  font-size: 14px;
  font-weight: 300;
}

.text-impact-red {
  color: $red;
  font-size: 14px;
  font-weight: 300;
}

.card-container-dashboard {
  width: 100%;
  padding: 0px 15px;
  margin-top: 25px;
}

.card-dashboard {
  width: 100%;
  height: 120px;
  background: $white;
  border: 1px solid #DCDCDC;
  margin-top: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.flex-item {
  flex: none;
}

.card-text-container-dashboard {
  line-height: 0px;
  color: $light-gray;
}

.card-text-container-dashboard h4 {
  font-size: 18px;
  font-weight: 400;
}

.card-text-container-dashboard p {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2px;
}

.offers-icon-padding {
  padding-right: 10px;
}





