// Specific CSS for your home-page

.btn-impact {
  border: 1.2px solid #FEFFFE;
  color: #FEFFFE;
  padding: 3px 7px;
  margin-top: 7px;
  border-radius: 16px;
  font-weight: lighter;
  font-size: 14px;
  opacity: 0.8;

  a {
    color: #FEFFFE;
    text-decoration: none;
  }
}
