// Specific CSS for your home-page

//nav
.btn-impact {
  border: 1.2px solid #FEFFFE;
  color: #FEFFFE;
  padding: 3px 7px;
  margin-top: 9px;
  border-radius: 16px;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.8;

  a {
    color: #FEFFFE;
    text-decoration: none;
  }
}
//nav end

//background

body {
  background-repeat: repeat-y;background-size: 100%;
  margin: 0;
  padding: 0;
}

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparentize($green, 0.05);
  z-index: -2;
}

.white-background {
  background-color: white;
  z-index: -1;
  position: absolute;
}

//background image

.banner p {
  margin-top: 6px;
  color: $white;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.group-icon {
  margin: 30px 0px;
  padding: 0px 2px;
}

.logo-home {
  margin-top: 30px;
}

.card-container-margin-home {
  margin-top: 50px;
}

.form-container {
  width: 100;
  padding: 0 10px;
}

.form-home {
  margin-bottom: 5px;
  color: $light-gray;
  font-weight: lighter;
  font-size: 14px;
}

.button-home {
  background-color: transparent;
  font-weight: lighter;
  border: 1px solid $white;
  color: $white;
  font-weight: 300;
}


