.top-section {
  position: fixed;
  width: 100%;
  height: 20vh;
}

.body-section {
  position: fixed;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  top: 20vh;
  background-color: transparent;
  z-index: -1;
}

.search-wrapper-index {
  width: 100%;
  background-color: $green;
  padding-bottom: 35px;
}

.search-page-row {
  padding: 0px;
}

.cards-container {
height: calc(100vh - 70px);
overflow-y: scroll;
width: 100%;
}

.map-container-index {
  height: calc(100vh - 70px);
}

#map {
  width: 100%;
  height: 100%;
}

.form-search-results {
  color: $light-gray;
  font-weight: lighter;
  font-size: 14px;
}
