.top-section {
  position: fixed;
  width: 100%;
  height: 20vh;
}

.body-section {
  position: fixed;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  top: 20vh;
  background-color: transparent;
}


.search-page-row {
  padding: 0px;
}

.cards-container {
height: calc(100vh - 70px);
overflow-y: scroll;
// padding-left: 20px;
// padding-right: 10px;
}


.map-container {
  height: calc(100vh - 70px);
  padding-left: 10px;
  padding-right: 10px;
}

#map {
  width: 100%;
  height: 100%;
}
