.top-section {
  position: fixed;
  width: 100%;
  height: 20vh;
}

.body-section {
  position: fixed;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  top: 20vh;
  background-color: transparent;
}


.search-page__row {
  padding: 0px;
}

.search-page__col-left {
  height: calc(100vh - 70px);
  overflow-y: scroll;
  // padding-left: 20px;
  // padding-right: 10px;
}


.search-page__col-right {
  height: calc(100vh - 70px);
  padding-left: 10px;
  padding-right: 10px;
}

#map {
  width: 100%;
  height: 100%;
}
