
.background-show {
  background-color: $white;
}

.nav-show {
  background-color: $green;
  height: 20px;
  width: 100%;
}

.card-show {
  border-radius: 4px;
  border-style: solid;
  border-color: $light-gray;
  border-width: 0.4px;
  background-color: $white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  padding: 15px;
  position: relative;
}

.name-show {
  font-size: 24px;
  color: $gray;
  font-weight: bold;
  font-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 0px 5px 0px;
}

.cuisine {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards-text {
  font-size: 16px;
  color: $gray;
  margin: 0px;
  font-weight: lighter;
}

.map-show {
  height: 100%;
  width: 100%;
}

.button-show {
  background-color: $red;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  margin-top: -110px;
  margin-right: 0px;
  width: 125px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}

.check-in-section {
  text-align: right;
  margin-right: 0px;
}

.rest-points {
  color: $red;
  font-size: 14px;
  font-weight: 200;
}

.impact-points {
  color: $gray;
  font-size: 14px;
  font-weight: lighter;
  margin-top: -43px;
}

.review {
  font-size: 16px;
  color: $green;
  margin-bottom: 15px;
  font-weight: lighter;
}

.rest-reviewed  s {
  font-weight: lighter;
}

#map {
  height: 100%;
  width: 100%;
}


.map-container-show {
  height: 200px;
}

