.wrapper-sign-up {
  background-color: $white;
  padding: 35px 10px;
}


.sign-up-title {
  font-size: 25px;
  color: $green;
  font-weight: normal;
  margin-bottom: 0px;
  // text-align:center;
}

.sign-up-subtitle {
  font-size: 16px;
  color: $green;
  font-weight: normal;
  margin-bottom: 20px;
  // text-align:center;
}

.form-button {
  background-color: $green;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border-style: solid;
  border-color: $green;
  font-size: 16px;
  padding: 10px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  transition: background-color 300ms;
  &:hover {
    background-color: #06adaa;
    border-color: #06adaa;
    color: white;
  }
}

.type {
  font-size: 20px;
  color: $gray;
  font-weight: 100;
}

.btn-success {
  background-color: $green;
  font-size: 16px;
  border-radius: 4px;
  border-style: solid;
  border-color: $green;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px 0;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

.color-btn {
  color: $white;
  &:hover {
    color: white;
  }
}

.hint {
  font-size: 14px;
  color: $gray;
  font-weight: 100;
  margin-bottom: 0px;
}

.btn-facebook {
  color: white;
  display: block;
  background-color: #4867AD;
  font-size: 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 0px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  padding: 10px 0;
  text-align: center;
  transition: background-color 300ms;
  &:hover {
    color: white;
    background-color: #37569C;
  }
}


