

<div class="navbar-show"><% content_for :navbar do %>
   <%= render 'shared/navbar_show' %>
   <% end %>
</div>

    <div class="background-favorites text-center" ><h3> My Favorite Restaurants </h3></div>
    <%= render current_user.favorite_restaurants %>

