

  <!-- navbar_show -->
<div class="navbar-show">
  <% content_for :navbar do %>
    <%= render 'shared/navbar_show' %>
  <% end %>
</div>

<div class="about-white-background">
  <div class="col-sm-offset-3 col-sm-6">
  <div class=" content-wrapper-about">
    <h2>Conscious dining is here.</h2>

    <p class="bottom-padding-about">We believe the world is shaped more by the way we spend than by how we vote on election day. That's why we built Eatwell... to make it easier to create positive global impact when we dine out.</p>

    <hr>
    <div>
      <h3>Impact key</h3>
      <p>Restaurants are evaluated on three criteria developed by the Sustainable Restaraunt Association.</p>
      <div class="row">
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-community-icon.png", height: 40 %>
            </div>
            <div class="impact-key-text">
              <p>Given to restaurants who make a difference by training and/or employing marginalized communities.</p>
            </div>
          </div>
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-sourcing-icon.png", height: 40  %>
            </div>
            <div class="impact-key-text">
              <p>Given to restaurants with supply chains that favor local, organic and seasonal produce or better vegetables, fish and meat.</p>
            </div>
          </div>
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-recycle-icon.png", height: 40  %>
            </div>
            <div class="impact-key-text">
              <p>Given to restaurants that contribute to food recycling programs and/or value natural resources in their operations.</p>
            </div>
          </div>
        </div>
      </div>


    <hr>

    <h3>Impact reward points</h3>

    <p> When you check-in at restaurants on Eatwell, you earn impact points. You can think of these credits as "unofficial" citizen carbon-credits that can be redeemed with our partners for free products and discount coupons. </p>
  </div>
</div>
</div>



