

  <!-- navbar_show -->
<div class="navbar-show">
  <% content_for :navbar do %>
    <%= render 'shared/navbar_show' %>
  <% end %>
</div>

<div class="about-white-background">
  <div class="col-sm-offset-3 col-sm-6">
  <div class=" content-wrapper-about">
    <h2>Conscious dining is within reach. Three meals a day.</h2>

    <p class="bottom-padding-about">We believe the world is shaped more by the way we spend than by how we vote on election day. That's why we built Eatwell... to make it easier to create positive global impact when we dine out.</p>

    <hr>
    <div>
      <h3>Impact key</h3>
      <p>Restaurants are evaluated on three criteria developed by the Sustainable Restaraunt Association.</p>
      <div class="row">
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-community-icon.png", height: 40 %>
            </div>
            <div class="impact-key-text">
              <p>Restaurants that serve better vegetables, meat and fish. Often by favouring local, organic and/or seasonal produce.</p>
            </div>
          </div>
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-sourcing-icon.png", height: 40  %>
            </div>
            <div class="impact-key-text">
            <p>Restaurants that involve their communities. For example by training and employing disadvantaged populations.</p>
            </div>
          </div>
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-recycle-icon.png", height: 40  %>
            </div>
            <div class="impact-key-text">
              <p>Restaurants that care about their left-overs. For example by contributing to food recycling programs.</p>
            </div>
          </div>
        </div>
      </div>


    <hr>

    <h3>Impact reward points</h3>

    <p>When you check-in at restaurants on Eatwell, you earn impact points. These points can be redeemed with our partners for free products and discount coupons.</p>
    <p>Check your profile to see how many points you have and then visit offers to see what can be redeemed!</p>
  </div>
</div>
</div>



