

  <!-- navbar_show -->
  <div class="navbar-show"><% content_for :navbar do %>
    <%= render 'shared/navbar_show' %>
    <% end %>
  </div>

<div class="about-white-background text-center">
  <div class=" content-wrapper-about">
    <h3>Conscious dining is here.</h3>

    <p>The world is shaped more by the way we spend than by how we vote on election day. </p>

    <p> Eatwell makes it easy to create positive global impact through your dining choices. </p>

    <p> Restaurants are evaluated on three criteria developed by the Sustainable Restaraunt Association.</p>
  </div>
</div>

<div class="content-wrapper-about text-center text-about-white">
  <h3>Impact key</h3>
  <%= image_tag "home_community_icon", height: 40  %>
  <p>Given to restaurants who make a difference by training and/or employing marginalized communities. </p>
  <%= image_tag "home_sourcing_icon", height: 40  %>
  <p>Given to restaurants with supply chains that favor local, organic and seasonal produce or better vegetables, fish and meat.</p>
  <%= image_tag "home_recycle_icon", height: 40  %>
  <p>Given to restaurants that contribute to food recycling programs and/or value natural resources in their operations.</p>
</div>

<h3>Impact reward points</h3>

<p> We build advertising partnerships with companies who care to off</p>



