
<!-- temporary style tag for NavBar build -->
<style>
body {background-color: #17bebb;}
</style>

<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <div class="navbar-wagon-right">
    <div class="navbar-wagon-item user-icon">
      <!-- link to profile/sign in -->
    <%= image_tag "user-icon.png", height: 24 %>
    </div>
  </div>
</div>




<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
