  <div class="container">



    <div class="row">

    </div>

    <div class="row">

    <%= render @restaurants %><!-- card- render partial -->

    </div>

    <div class="row">

    <!-- map -->

    </div>


  </div>




