  <div class="container">



    <div class="row">

    <h1> Search Bar</h1>

    </div>

    <div class="row">

    <%= render @restaurants %><!-- card- render partial -->

    </div>

    <div class="row">

    <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

    </div>


  </div>




