<% content_for :navbar do %>
  <div class="top-section">
    <%= render 'shared/navbar_index' %>
    <div class="search-wrapper-index">
      <div class="container">
        <%= render 'shared/searchbar' %>
      </div>
    </div>
  </div>
<% end %>

<div class="body-section wrapper">
  <div class="container">
    <div class="search-page-row row">
    <!-- Cards container -->
      <div class="col-xs-12 col-md-8" style="padding: 0px;">
        <div class="container cards-container">
          <div class="row">
            <!-- card -->
            <%= render @restaurants %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="map-container-index">
          <div id="map" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>

    </div>
  </div>
</div>






