<style>
body {background-color: #17bebb;}
</style>

  <!-- Logo -->
<% content_for :navbar do %>
      <%= render 'shared/navbar_index' %>
 <% end %>
 <!-- logo end -->

  <div class="container">



    <div class="row">

    <h1> Search Bar</h1>

    </div>

    <div class="row">

    <%= render @restaurants %><!-- card- render partial -->

    </div>

    <div class="row">

    <!-- map -->

    </div>


  </div>




