<style>
body {background-color: #17bebb;}
</style>

<!-- Logo -->
<% content_for :navbar do %>
  <%= render 'shared/navbar_index' %>
<% end %>
<!-- logo end -->

<div class="container">



  <div class="row">

     <%= render 'shared/searchbar' %>

  </div>

  <hr>

  <div class="row index-page__row">
    <div class="index-page__col-left col-xs-12 col-md-8">
      <%= render @restaurants %>
    </div><!-- card- render partial -->

  </div>

  <div class="row">

    <div
      id="map"
      style="width: 100%;
      height: 600px;
      justify-content: right"
      data-markers="<%= @markers.to_json %>">
    </div>

  </div>


</div>



