
<!-- nav-bar style for development -->
<style>
body {background-color: #17bebb;}
</style>
<div class="navbar-wagon">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <div class="navbar-wagon-right">
    <div class="navbar-wagon-item user-icon">
      <!-- link to profile/sign in -->
    <%= image_tag "user-icon.png", height: 24 %>
    </div>
  </div>
</div>

  <div class="container">



    <div class="row">

    <h1> Search Bar</h1>

    </div>

    <div class="row">

    <%= render @restaurants %><!-- card- render partial -->

    </div>

    <div class="row">

    <!-- map -->

    </div>


  </div>




