<%= render 'shared/navbar_show' %>
<div class="offers-wrapper">
  <div class="container">
    <div class="row text-center">
      <h3>Redeem your <span class="impact-count-text-offer">
        <% if current_user.token_wallet == nil %>
          <%= "0" %> impact points
        <% else %>
          <%= current_user.token_wallet %> impact points
        <% end %> </span>
        for delicious offers!
      </h3>
    </div>
  </div>
      <div class="container cards-container">
        <div class="row">
          <%= render 'offer' %>
        </div>
      </div>
</div>

<!-- home link -->


