<%= render 'shared/navbar_show' %>

<div class="container">
  <div class="row">
    <h2>Here's what you can do with your points</h2>


  </div>

  <div class="row">
    <div class="offers-wrapper">
      <%= render 'offer' %>
    </div>

  </div>
</div>

<!-- home link -->


