/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: green;
  text-align: center;
}
.alert-warning {
  background: $red;
}

.sweet-alert button.offer {
  background-color: yellow;
  color: black
}

.sweet-alert button.dashboard {
  background-color: yellow;
  color: black
}
