
.card-search {
  height: 280px;
  border-radius: 2px;
  border-color: black;
  background-color: #FFFFFF;
  margin-top: 0px;
  margin: 0;
  padding-top: 0px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);

}

.card__img {
  height: 58%;
  background-size: cover;
  background-clip: center;
}


// .sport-text-style {
//   padding: 2px 8px;
//   color: white;
//   font-size: 12px;
//   background-color: #E37C54;
//   border-radius: 5px;
//   margin-left: 5px;
// }

// .location-text-style {
//   color: #E37C54;
//   font-size: 12px;
// }

// .card-details {
//   color: #484848;
//   margin-top: 10px;
//   font-family: "Montserrat", Helvetica, sans-serif;
// }


// .card-title h6 {
//   font-size: 22px;
//   font-weight: 600;
//   margin-top: 0px;
// }

// .card-price {
//   font-family: "Monserrat", Helvetica, sans-serif;
//   font-size: 14px;
//   color: #484848;
//   font-weight: lighter;
//   letter-spacing: 0.35px;
// }
