.coll-card {
  height: 87px;
  border-radius: 4px;
  background-color: $white;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
  // position: relative;
}

.coll-img {
  // position: absolute;
  // left: 0px;
  height:100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}






