.coll-card {
  height: 95px;
  border-radius: 4px;
  background-color: $white;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.coll-img {
  height:100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.coll-text {
  padding: 10px;
  flex-grow: 1;
}

.coll-title {
  font-size: 16px;
  color: $gray;
  margin-bottom: 0px;
  font-weight: normal;
}

.coll-descr {
  font-size: 14px;
  color: $gray;
  font-weight: lighter;
  margin-bottom: 0px;
}



