.card-box-offer {
  height: 420px;
  border-radius: 4px;
  border-style: solid;
  border-color: $light-gray;
  border-width: 0.4px;
  background-color: $white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  position: relative;
  padding: 0px;
  margin-bottom: 10px;
}

.card-img-offer {
  height: 58%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-size: cover;
  background-clip: center;
}

.container-description-offers {
  padding: 10px;
}

.name-offers {
  font-size: 24px;
  color: $gray;
  font-weight: 400;
  font-decoration: none;
  padding: 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 0px 4px 0px;
}

.btn-redeem-offers {
  margin-top: 10px;
    background-color: #EF5B5B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    width: 125px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
