.reviews-button {
  background-color: $red;
  color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: $red;
  font-size: 16px;
  font-weight: normal;
  width: 100px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

.reviews-button:hover {
  background-color: $red;
  color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: $red;
  font-size: 16px;
  font-weight: normal;
  width: 100px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2); }

.recognitionStyling {
  border-radius: 4px;
  color: #888;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: none;
  &:focus {
    border-color: $green;
  }
}

#new_user {
  label {
    font-size: 15px;
    color: $gray;
    font-weight: normal;
    margin-bottom: 5px;
  }

  .hint {
    font-size: 14px;
    color: $gray;
    font-weight: 100;
    margin-bottom: 0px;
  }
}
