.reviews-button {
  background-color: $red;
  color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: $red;
  font-size: 16px;
  font-weight: normal;
  width: 100px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

.recognitionStyling {
  border-radius: 4px;
  color: $light-gray;
  font-weight: lighter;
  border-width: 0.4px;
  font-size: 14px;
}
