.card-box {
  height: 390px;
  border-radius: 4px;
  background-color: $white;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  position: relative;
}

.card__img {
  height: 58%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-size: cover;
  background-clip: center;
  position: relative;
}

@media only screen and (max-width: 540px) {
  .card-box:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
  }
}

@media only screen and (min-width: 540px) and (max-width: 720px) {
  .card-box:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
  }
}

@media only screen and (min-width: 720px) and (max-width: 960px) {
  .card-box:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: relative;
  }
}

.heart {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  z-index: 100;
}

.heart {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgba(30, 50, 49, 0.5);
  font-size: 25px;
  color: $white;
}

.symbols {
  height: 55px;
  margin: 0px;
  margin-top: -22px;
  margin-left: 0px;
  position: relative;
  z-index: 100;
}

.symbol-sourcing {
  margin-right: 8px;
}

.main-text {
  font-size: 16px;
  color: $gray;
  margin: 0px 10px;
  font-weight: lighter;
}

.name {
  font-size: 24px;
  color: $gray;
  font-weight: bold;
  font-decoration: none;
  padding: 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px 0px;
}

.average-rating {
  color: $white;
  font-size: 18px;
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  font-weight: 500;
  background: $yellow;
  margin-left: 8px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.no-rating {
  font-size: 14px;
  color: $yellow;
  margin: 0px 0px 0px 0px;
  font-weight: 100;
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.av-price {
  font-size: 14px;
  color: $gray;
  margin: 0px 0px 0px 0px;
  font-weight: lighter;
}

.price {
  position: absolute;
  bottom: 15px;
  left: 10px;
  margin-left: 0px;
}
