.swal-button--offer {
  background-color: #17BEBB;
}

.swal-button--dashboard {
  background-color: #17BEBB;
}

.swal-button--confirm {
  background-color: #17BEBB;
}
.swal-button--close {
  background-color: #17BEBB;
}
.swal-button--ok {
  background-color: #17BEBB;

}
