
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

// Over-riding bootstrap fonts
h1 {
  color: $white;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 0px;
  line-height: 2px;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}


a:hover, a:visited, a:active {
  text-decoration: none;
}

abbr {
  display: none;
}
