<div>
  <%= simple_form_for([ @restaurant, @review ]) do |form| %>
    <%= form.input :content, placeholder: 'You can leave your review here', label: false, as: :text, input_html: { class: "recognitionStyling" }%>
    <%= form.input :rating, prompt: 'How would you rate this restaurant?', as: :select, collection: 1..5, label: false, input_html: { class: "recognitionStyling" } %>
    <%= form.button :submit, value:'Submit', class: "reviews-button" %>
  <% end %>
</div>







