<div style="color: #A4A9AD; font-weight: lighter;">
  <%= simple_form_for([ @restaurant, @review ]) do |form| %>
    <%= form.input :content, placeholder: 'You can leave your review here', label: false, as: :text %>
    <%= form.input :rating, as: :select, collection: 1..5, label: false %>
    <%= form.button :submit, value:'Submit', class: "reviews-button" %>
  <% end %>
</div>



